.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.signin .ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.signin .ng-valid.ng-dirty {
  border-color: #78FA89;
}

.signin-container {
  margin: 0 auto;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
  width: 15em;
  background-color: white;
  color: black;
  button {
    font-size: inherit;
    font-weight: inherit;
  }
}
