div.tableContainer {
  display: table;
}

div.tableRow {
  display: table-row;
}

div.main {
  margin-left: 250px;
  margin-right: 250px;
}

div.sidebar {
  position: fixed;
  font-size: 11px;
  width: 150px;
  overflow-y: scroll;
  height: 100%;
}

.table-striped > .test-table {
  tr.correct {
    background: $correctRowColor;
    font-style: italic;
  }
}

section.create-vocablist {
  padding: 50px;
  input.shortfield {
    width: 150px;
  }
}
