@import "colors";
@import "core";
@import "users";
@import "modules/vocablist/new";
@import "vocablists";
@import "vocabs";

body {
  margin-top: 70px;
}

.centered-container {
  width: 85%;
  margin: 0 auto;
}
