@import "colors";
@import "core";
@import "users";
@import "modules/vocablist/new";
@import "vocablists";
@import "vocabs";
@import "modules/jumbotron";

html, body, section.view-container {
  height: 100%;
}

body {
  margin-top: 70px;
}

.centered-container {
  width: 85%;
  margin: 0 auto;
}

.affix {
  top: 55px;
}

.pull-bottom-center {
  position: absolute;
  bottom: 0;
}
