<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Welcome!!!
			</p>
		</div>
		<div class="row">
			<p>
				This is a website made with MEAN.JS to help you learn Vocab. Please login or sign up :)
			</p>
		</div>
	</div>
	<div class="container text-center">
		<button class="btn btn-primary btn-lg">Login</button>
		<button class="btn btn-success btn-lg">Signin</button>
	</div>
</section>
