<div data-ng-controller="HomeController" class="my-jumbotron">
  <div class="centered-container">
    <div class="jumbotron-header">
      <h1>
        VocabTester
      </h1>
      <h2>
        Ready to learn a new language?
      </h2>
    </div>
    <div class="button-container">
      <button>
        <a href="/#!/signin"><i class="glyphicon glyphicon-log-in"></i>Login</a>
      </button>
      <button>
        <a href="/#!/signup"><i class="glyphicon glyphicon-user"></i>Sign Up</a>
      </button>
    </div>
    <div class="pull-bottom-center">
      <p>
        Made by Takeru &lt;3
      </p>
      <p>
        Check out the repo <a href="https://github.com/tkomiya24/VocabTester">here</a>
      </p>
    </div>
  </div>
</div>
