<section class="row my-jumbotron" data-ng-controller="AuthenticationController">
  <h3>Enter your account information</h3>
  <div class="signin-container">
    <div data-ng-show="authenticationError" class="text-center text-danger">
      <strong data-ng-bind="authenticationError"></strong>
    </div>
    <form data-ng-submit="signin()" class="signin" autocomplete="off">
      <fieldset>
        <div>
          <input type="text" id="username" name="username" data-ng-model="credentials.username" placeholder="Username">
        </div>
        <div>
          <input type="password" id="password" name="password" data-ng-model="credentials.password" placeholder="Password">
        </div>
        <div>
          <a href="/#!/password/forgot">Forgot your password?</a>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
        <div>
          <a href="/#!/signup">Sign up</a>
        </div>
        <div data-ng-show="error" class="text-center text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
