<section data-ng-controller="VocablistsController" class="create-vocablist centered-container" data-ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Vocablist</h1>
  </div>
  <div ng-hide="vocablist.user === user._id" class="text-center text-danger">
    <strong>You are not authorized to edit this vocablist</strong>
  </div>
  <div ng-show="vocablist.user === user._id">
      <form class="form-horizontal" data-ng-submit="update()" novalidate>
        <fieldset>
          <ng-include src="'modules/vocablists/views/_form.client.partial.html'">
        </fieldset>
      </form>
      <button class="btn btn-primary" ng-click="addVocab()">
        <span class="glyphicon glyphicon-plus"/>
      </button>
  </div>
</section>
