<section data-ng-controller="VocablistsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Vocablists</h1>
    </div>
    <div class="tableContainer">
      <div class="tableRow">
        <div class="sidebar">
          <div class="list-group">
            <button data-ng-repeat="vocablist in vocablists" ng-click="selectVocablist($index)" class="list-group-item" ng-class="{ 'active' : vocablist == selectedVocablist}">
              <div>
                <small class="list-group-item-text">
          				Posted on
          				<span data-ng-bind="vocablist.created | date:'medium'"></span>
          				by
          				<span data-ng-bind="vocablist.user.displayName"></span>
          			</small>
          			<h4 class="list-group-item-heading" data-ng-bind="vocablist.name"></h4>
              </div>
            </button>
          </div>
          <div class="alert alert-warning text-center" data-ng-hide="!vocablists.$resolved || vocablists.length">
          	No Vocablists yet, why don't you <a href="/#!/vocablists/create">create one</a>?
          </div>
          <div class="pull-right" data-ng-show="((authentication.user))">
          <!-- && (authentication.user._id == vocablist.user._id))"> -->
            <a class="btn btn-primary" href="/#!/vocablists/{{vocablist._id}}/edit">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="remove();">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </div>
        </div>
        <div class="main">
          <h4>{{selectedVocablist.name}}</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>English</th>
                <th>Korean</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="vocab in selectedVocablist.vocabs">
                <td>{{vocab.English.Translation}}</td>
                <td>{{vocab.Korean.Translation}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <small>
      <em class="text-muted">
        Posted on
        <span data-ng-bind="vocablist.created | date:'mediumDate'"></span>
        by
        <span data-ng-bind="vocablist.user.displayName"></span>
      </em>
    </small>
</section>
