<section data-ng-controller="VocablistsController" data-ng-init="find()">
    <div class="sidebar">
      <div class="list-group">
        <button data-ng-repeat="vocablist in vocablists"
                ng-click="selectVocablist($index)"
                class="list-group-item"
                ng-class="{ 'active' : vocablist == selectedVocablist}">
          {{vocablist.name}}
        </button>
      </div>
      <div class="alert alert-warning text-center" data-ng-hide="!vocablists.$resolved || vocablists.length">
        No Vocablists yet, why don't you <a href="/#!/vocablists/create">create one</a>?
      </div>
    </div>
    <div class="main">
      <h4>{{selectedVocablist.name}}</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>English</th>
            <th>Translation</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="vocab in selectedVocablist.vocab">
            <td>{{vocab.word}}</td>
            <td>{{vocab.translation}}</td>
            <td>{{vocab.timesCorrect}}/{{vocab.timesTested}}</td>
          </tr>
        </tbody>
      </table>
      <div class="pull-right" data-ng-show="((authentication.user))">
      <!-- && (authentication.user._id == vocablist.user._id))"> -->
        <a class="btn btn-primary" href="/#!/vocablists/{{vocablist._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
      <a href="/#!/vocablists/{{selectedVocablist._id}}/test">Test</a>
    </div>
</section>
