<section data-ng-controller="VocablistsController" data-ng-init="findOne()" class="centered-container">
  <h2>{{vocablist.name}}<small ng-if="vocablist.chapter">{{vocablist.chapter}}</small></h2>
  <h3>{{vocablist.category}}</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Word</th>
        <th>Translation</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="vocab in vocablist.vocab">
          <td>{{vocab.word}}</td>
          <td>{{vocab.translation}}</td>
          <td>{{vocab.timesCorrect}}/{{vocab.timesTested}}</td>
      </tr>
    </tbody>
  </table>
</section>
