<section data-ng-controller="VocablistsController" data-ng-init="findOne()" class="centered-container">
  <h2>{{vocablist.name}}<small ng-if="vocablist.chapter">{{vocablist.chapter}}</small></h2>
  <h3>{{vocablist.category}}</h3>
  <div class="action-buttons" set-class-when-at-top="affix" offset-start="63">
    <a href="#!/vocablists/edit/{{vocablist._id}}">
      <button class="btn btn-success">
        <span class="glyphicon glyphicon-edit"></span> Edit
      </button>
    </a>
    <a href="#!/vocablists/test/{{vocablist._id}}">
      <button class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span> Test
      </button>
    </a>
    <button class="btn btn-danger">
      <span class="glyphicon glyphicon-remove-sign"></span> Delete
    </button>
  </div>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Word</th>
        <th>Translation</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="vocab in vocablist.vocab">
          <td>{{vocab.word}}</td>
          <td>{{vocab.translation}}</td>
          <td>{{vocab.timesCorrect}}/{{vocab.timesTested}}</td>
      </tr>
    </tbody>
  </table>
</section>
