<section data-ng-controller="TestController">
  <div data-ng-show="authenticationError" class="text-center text-danger">
    <strong data-ng-bind="authenticationError"></strong>
  </div>
  <table data-ng-hide="authenticationError" class="table table-striped">
    <thead>
      <tr>
        <th>English</th>
        <th>Korean</th>
        <th>Record</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody class="test-table">
      <tr ng-repeat="vocab in vocablist.vocab" ng-class="{correct: vocab.correct}">
        <td>{{vocab.word}}</td>
        <td>
          <input type="text" ng-model="responses[$index]" ng-show="!isSubmitted && !vocab.correct"></input>
          <label ng-hide="!isSubmitted && !vocab.correct">{{vocab.translation}}</index>
        </td>
        <td>
          {{vocab.timesCorrect}} / {{vocab.timesTested}}
        </td>
        <td>
          <span class="glyphicon glyphicon-ok" ng-show="vocab.correct"></span>
          <span class="glyphicon glyphicon-remove" ng-hide="vocab.correct"></span>
        </td>
       </tr>
    </tbody>
  </table>
  <a href="/#!/vocablists/" class="btn btn-primary">
    Back to list
  </a>
  <div ng-hide="authenticationError">
    <button class="btn btn-primary" ng-click="gradeTest()" ng-show="!isSubmitted && grade !== vocablist.vocab.length">
      Submit
    </button>
    <button class="btn btn-primary" ng-click="retestIncorrect()" ng-show="isSubmitted && grade !== vocablist.vocab.length">
      Redo mistakes
    </button>
    <button class="btn btn-primary" ng-click="restartTest()">
      Restart
    </button>
  </div>
</section>
