<section data-ng-controller="VocablistsController" data-ng-init="test()">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>English</th>
        <th>Korean</th>
        <th>Record</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody class="test-table">
      <tr ng-repeat="vocab in vocablist.vocab" ng-class="{correct: finished[$index]}">
        <td>{{vocab.english.translation}}</td>
        <td>
          <input type="text" ng-model="responses[$index]" ng-show="isTextFieldEnabled($index)"></input>
          <label ng-hide="isTextFieldEnabled($index)">{{vocab.korean.translation}}</index>
        </td>
        <td>
          {{vocab.korean.timesCorrect}} / {{vocab.korean.timesTested}}
        </td>
        <td>
          <span class="glyphicon glyphicon-ok" ng-show="grades[$index]"></span>
          <span class="glyphicon glyphicon-remove" ng-hide="grades[$index]"></span>
        </td>
       </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" ng-click="gradeTest()">
    Submit
  </button>
  <button class="btn btn-primary" ng-click="restartTest()">
    Restart
  </button>
  <button class="btn btn-primary" ng-click="retestIncorrect()" ng-show="testIsFinished">
    Redo mistakes
  </button>
</section>
